    @viewport {
    width: 320;
    }

    html {
        background-color: white;
    }

    body {
    font: 14px Arial;
    fill: #3b4b54;
    }

    h1 {
    font: 26px Arial;
    font-weight: bold;
    text-align: center;
    color: #3b4b54;
    }

    svg {
    margin: 2px;
    background-color: #f7f7f7;
    }
    
    #envDiv {
        background-color: #f7f7f7;
    }

    .cpuChart path,
    .memChart path,
    .gcChart path,
    .elChart path {
        stroke: #6eedd8;
        stroke-width: 2;
        fill: none;
    }

    path.line1 {
        stroke: #6eedd8;
        stroke-width: 2;
        fill: none;
    }

    path.line2 {
        stroke: #8cd211;
        stroke-width: 2;
        fill: none;
    }

    path.line3 {
        stroke: #5aaafa;
        stroke-width: 2;
        fill: none;
    }

    path.httpline,
    .httpThroughPutChart path {
        stroke: #7cc7ff;
        stroke-width: 2;
        fill: none;
    }
  
    g.xAxis path,
    g.xAxis line,
    g.yAxis path,
    g.yAxis line {
    fill: none;
    stroke: #42535c;
    stroke-width: 1;
    shape-rendering: crispEdges;
    }

    g.tick line {
        stroke: #8c9ba5;
    }

    .axis2 path,
    .axis2 line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
    }

    .lineLabel {
        font: 12px Arial;
        font-weight: bold;
        text-anchor: left;
        fill: #6eedd8;
    }

    .processlatestlabel,
    .usedlatestlabel,
    .minlatestlabel {
        font: 12px Arial;
        font-weight: bold;
        text-anchor: left;
        fill: #8cd211;
    }

    .avglatestlabel {
        font: 12px Arial;
        font-weight: bold;
        text-anchor: left;
        fill: #5aaafa;
    }

    .container {
        width: 100%;
    }

    .chart {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    g.arc {
    fill: #6decd7;
    }

    g.pointer {
    fill: #959f9f;
    stroke: #000000;
    }

    g.label text {
    text-anchor: middle;
    text-align: center;
    font-size: 12px;
    }

    .httpTop5Chart rect {
      fill: #5aaafa;
    }

    table, th, td {
        background-color: #f7f7f7;
    }
    th, td {
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }
