    @viewport {
    width: 320;
    }

   body,html {
        background-color: #f5f7fa; 
        width : 100%;
        border-color:#f5f7fa;
        height: 100%;
        margin: 0 auto;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #ffffff;
    }

    h1 {
        font: 26px Arial;
        font-weight: bold;
        text-align: center;
        color: #3b4b54;
    }
   .container-fluid {
        background-color: #f5f7fa;
    }

    svg {
        margin: 3px;
        border: 1px solid #dfe6eb;
        background-color: #ffffff;
    }

    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6 { padding-right: 1px;padding-left: 1px; padding-top: 0px; padding-bottom: 0px}

    .cpuChart path,
    .memChart path,
    .gcChart path,
    .elChart path {
        stroke: #00b4a0;
        stroke-width: 2;
        fill: none;
    }

    path.line1 {
        stroke: #00b4a0;
        stroke-width: 2;
        fill: none;
    }

    path.line2,
    path.processLine {
        stroke: #734098;
        stroke-width: 2;
        fill: none;
    }

    path.line3,
    path.httpline {
        stroke: #5aaafa;
        stroke-width: 2;
        fill: none;
    }
  
    g.xAxis path,
    g.xAxis line,
    g.yAxis path,
    g.yAxis line {
        fill: none;
        stroke: #42535c;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    g.tick line {
        stroke: #8c9ba5;
    }

    .axis2 path,
    .axis2 line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
    }

    .lineLabel,
    .lineLabel2,
    .avglatestlabel,
    .minlatestlabel {
        font: 14px Arial;
        text-anchor: left;
    }

    .colourbox1 {
        fill: #00b4a0;
        stroke: #dbe6e9;
        stroke-width: 1px;
    }

    .colourbox2 {
        fill: #734098;
        stroke: #dbe6e9;
        stroke-width: 1px;
    }

    .colourbox3 {
        fill: #5aaafa;
        stroke: #dbe6e9;
        stroke-width: 1px;
    }

    .container {
        width: 100%;
    }

    .chart {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    g.arc {
        fill: #6decd7;
    }

    g.pointer {
        fill: #959f9f;
        stroke: #000000;
    }

    g.label text {
        text-anchor: middle;
        text-align: center;
        font-size: 12px;
    }

    .httpTop5Chart rect {
        fill: #5aaafa;
    }

    .titlebox {
        fill: #eff3f5;
        stroke: #dbe6e9;
        stroke-width: 1px;
    }
