{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "strongloop",
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    "quotes": ["error", "double"],
    "strict": "off",
    "no-undef": "off",
    "eqeqeq": "off",
    "max-len": "off",
    "comma-dangle": "off",
    "spaced-comment": ["error", "always", { "exceptions": ["*"] }]
  }
}
